@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), sans-serif;

  --color-primary: #3B82F6;
  --color-dark-900: #020617;
  /* Darker background */
  --color-dark-800: #1E293B;
  --color-dark-700: #334155;

  --animate-fade-in: fade-in 0.2s ease-out;
  --animate-zoom-in-95: zoom-in-95 0.2s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes zoom-in-95 {
    from {
      transform: scale(0.95);
      opacity: 0;
    }

    to {
      transform: scale(1);
      opacity: 1;
    }
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020617;
    --card: #f8fafc;
    --card-foreground: #020617;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --border: #e2e8f0;
  }

  .dark {
    --background: #020617;
    --foreground: #ffffff;
    --card: #1e293b;
    --card-foreground: #ffffff;
    --muted: #0f172a;
    --muted-foreground: #94a3b8;
    --border: #1e293b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}